{% macro nav_link(endpoint, text) %} {% if request.endpoint.endswith(endpoint)
%}
<li class="nav-item">
	<a class="nav-link active" href="{{ url_for(endpoint) }}">{{text}}</a>
</li>
{% else %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for(endpoint) }}">{{text}}</a>
</li>
{% endif %} {% endmacro %} {% macro worksheet_preview_div(type, route_variable)
%}
<div class="col-12 col-md-6 embed-responsive h-100">
	<div class="worksheet-preview h-100">
		<div class="my-3 text-center">
			<a
				href="{{url_for('render_new_pdf', sheet=route_variable)}}"
				class="btn btn-info d-none"
				target="_blank"
				>Open {{type}} in New Tab</a
			>
		</div>
		<div class="h-100">
			<object
				data="{{url_for('render_new_pdf', sheet=route_variable)}}"
				class="embed-responsive-item my-3 w-100 h-100"
				type="application/pdf"
			>
				The PDF preview is not available on your device. Please click
				the button above to view the PDF.
			</object>
		</div>
	</div>
</div>

{% endmacro %} {% macro nav_link(endpoint, text) %} {% if
request.endpoint.endswith(endpoint) %}
<a class="nav-item nav-link active p-3" href="#"
	>{{ text }} <span class="sr-only">(current)</span></a
>
{% else %}
<a class="nav-item nav-link p-3" href="{{ url_for(endpoint) }}">{{ text }}</a>
{% endif %} {% endmacro %}
