{% macro nav_link(endpoint, text) %} {% if request.endpoint.endswith(endpoint)
%}
<li class="nav-item">
	<a class="nav-link active" href="{{ url_for(endpoint) }}">{{text}}</a>
</li>
{% else %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for(endpoint) }}">{{text}}</a>
</li>
{% endif %} {% endmacro %} {% macro worksheet_preview_div(type, route_variable)
%}
<div class="col-12 col-md-6 embed-responsive">
	<div class="worksheet-preview">
		<div class="my-3 text-center">
			<a
				href="{{url_for('render_new_pdf', sheet=route_variable)}}"
				class="btn btn-info d-none"
				target="_blank"
				>Open {{type}} in New Tab</a
			>
		</div>
		<div>
			<object
				data="{{url_for('render_new_pdf', sheet=route_variable)}}"
				class="embed-responsive-item my-3"
				type="application/pdf"
				width="100%"
				height="800px"
			>
				The PDF preview is not available on your device. Please click
				the button above to view the PDF.
			</object>
		</div>
	</div>
</div>
{% endmacro %}
