body {
	font-family: "Quicksand", "PT Sans", arial, sans-serif;
	background-color: #f5f1ec;
}

.text-answer {
	color: red;
}

.footer {
	position: fixed;
	bottom: 0;
}

#jumbotron {
	font-family: "Coming Soon", cursive;
	background-color: #497959;
	border: solid 1rem #e7b476;
}

#jumbotron > h1 {
	font-family: "Coming Soon", cursive;
}
