{% from '/macros/macros.html' import worksheet_preview_div %} {% extends
'base.html' %} {% block title %} Your New Worksheet! {% endblock %} {% block
content %}

<h1>Generated Worksheet</h1>

<div class="row">
	<div class="spinner-loading-div my-5">
		<div class="d-flex align-items-center justify-content-around">
			<strong>Loading...</strong>
			<div
				class="spinner-border ml-auto text-primary"
				role="status"
				aria-hidden="true"
			></div>
		</div>
	</div>
	{{ worksheet_preview_div('Worksheet', 'worksheet') }} {{
	worksheet_preview_div('Answer Key', 'answer-key') }}
</div>

<form action="{{ url_for('upload') }}" class="upload-form" method="POST">
	<button class="btn btn-primary" type="submit">Upload</button>
</form>

<script src="{{ url_for('static', filename='new-detail.js') }}" defer></script>
{% endblock %}
