{% extends 'base.html' %} {% block title %} Your New Worksheet! {% endblock %}
{% block content %}

<div class="row">
	<div class="col-12 col-md-6 embed-responsive">
		<a
			href="{{url_for('new_worksheet_pdf')}}"
			class="btn btn-primary"
			target="_blank"
			>Open Worksheet in New Tab</a
		>
		<embed
			src="{{url_for('new_worksheet_pdf')}}"
			class="embed-responsive-item"
			type="application/pdf"
			width="100%"
			height="600px"
		/>
	</div>
	<div class="col-12 col-md-6"></div>
</div>

{% endblock %}
