{% extends './base.html' %} {% block title %} User Profile {% endblock %} {%
block content %} {% include './users/profile-card.html' %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h3>Bucket Info</h3>
			<p>Created {{my_bucket.creation_date}}</p>

			<hr />

			<table class="table table-striped">
				<tr>
					<th>File Name</th>
					<th>Last Modified</th>
					<th>Delete File</th>
					<th>Download File</th>
				</tr>
				{% for file in files %}
				<tr>
					<td>{{ file.key }}</td>
					<td>{{ file.last_modified }}</td>
					<td>
						<form
							class="delete-form"
							action="{{ url_for('delete') }}"
							method="post"
						>
							<input
								type="hidden"
								name="key"
								value="{{ file.key }}"
							/>
							<button type="submit" class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</td>
					<td>
						<form
							class="download-form"
							action="{{ url_for('download') }}"
							method="post"
						>
							<input
								type="hidden"
								name="key"
								value="{{ file.key }}"
							/>
							<button type="submit" class="btn btn-info btn-sm">
								<i class="fa-solid fa-file-arrow-down"></i>
							</button>
						</form>
					</td>
				</tr>

				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
