{% extends './base.html' %} {% block title %} User Profile {% endblock %} {%
block content %} {% include './users/profile-card.html' %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h3>Your Saved Worksheets</h3>

			<hr />

			{% if files %}
			<table class="table table-striped">
				<tr>
					<th>File Name</th>
					<th>Last Modified</th>
					<th>Delete File</th>
					<th>Download File</th>
				</tr>
				{% for file in files %}
				<tr>
					<td>{{ file.key }}</td>
					<td>{{ file.last_modified | date_time_format }}</td>
					<td>
						<form
							class="delete-form"
							action="{{ url_for('delete') }}"
							method="post"
						>
							<input
								type="hidden"
								name="key"
								value="{{ file.key }}"
							/>
							<button type="submit" class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</td>
					<td>
						<form
							class="download-form"
							action="{{ url_for('download') }}"
							method="post"
						>
							<input
								type="hidden"
								name="key"
								value="{{ file.key }}"
							/>
							<button type="submit" class="btn btn-info btn-sm">
								<i class="fa-solid fa-file-arrow-down"></i>
							</button>
						</form>
					</td>
				</tr>

				{% endfor %}
			</table>
			{% else %}
			<p>
				No worksheets have been saved yet. Create a new one
				<a href="{{ url_for('index') }}">here</a>
			</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
